<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>./TestResults</ResultsDirectory>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/Presentation/**/*.cs</ExcludeByFile>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
          <ExcludeByAttribute>CompilerGenerated</ExcludeByAttribute>
          <ExcludeByAttribute>GeneratedCode</ExcludeByAttribute>
          <ExcludeByFile>**/Generated/**/*.cs</ExcludeByFile>
          <ExcludeByFile>**/*Designer.cs</ExcludeByFile>
          <ExcludeByFile>**/Migrations/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
